.footerContainer {
    padding: 2rem;
    background: #686AAC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 12px;
    overflow: hidden;
}

.footerText {
    color: #fff;
    font-size: 1rem;
}