.footerContainer {
    padding: 2rem;
    background: #686AAC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 1vh;
    text-align: center;
}

.footerText {
    color: #fff;
    font-size: 0.7rem;
}