.headerContainer {
    padding: 2rem;
    background: #686AAC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: sticky;
    top: 8px;
    margin-bottom: 8px;
  }
  
  .headerTitle {
    color: #fff;
    font-size: 4rem;
  }
  
  .headerImage {
    width: 20%;
  }