.homeBase {
    background-color: #686AAC;
    overflow: hidden;
}

.homeInitialText {
    font-size: small;
    text-align: justify;
    text-indent: 50px;
    margin: 8px;
    color: antiquewhite;
}