.homeBase {
    background-color: #686AAC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeBase > img {
    width: 50%;
    height: fit-content;
    margin: 10px;
}

.homeInitialText {
    font-size: small;
    text-align: justify;
    text-indent: 50px;
    margin: 8px;
    color: antiquewhite;
}