#centralBody {
    background-color: #484A78;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#centralBody::-webkit-scrollbar {
        display: none;
      }
